
.sample02 {
    /* margin : 0 auto 40px;
    width : 100%;
    font-size : 24px;
    text-align : center;
    overflow : hidden; */

    display: block;
	width: 79vw;
	height: 30px;
	border: solid 2px;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 10vw;
	right: 10vw;
	bottom: 10px;
	background-color: white;
	overflow : hidden;
}
.sample02 ul{
    margin:0;
    display : inline-block;
    padding-left: 100%;
    white-space : nowrap;
    line-height : 1em;
    animation : scrollSample02 15s linear infinite;
}
.sample02 ul li{
    display:inline;
    margin:0 100px 0 0;
}
.sample02 ul li:nth-child(1){
    font-weight:bold;
}
.sample02 ul li:nth-child(2){
    color:#F00;
}
.sample02 ul li:nth-child(3){
    font-style:italic;
}
.sample02 ul li:last-child{
    color:#F90;
    margin:0;
}
@keyframes scrollSample02{
    0% { transform: translateX(0)}
    100% { transform: translateX(-100%)}
}

