body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Input.jsのCSS */
.senddiv {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.sendText {
  display: flex;
}

.sendText input {
  font-size: 36px;
  width: 100%;
}

.submitButton {
  display: flex;
  flex-direction: column;
}

.submitButton button {
  /* outline: none; */
  background-color: #c6e4f8;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  margin: 3px 10px;
  cursor: pointer;
  box-shadow: 0 4px 1px #cfd1d3;
}

.submitButton button:hover {
  transform: translate(0, 3px);
  box-shadow: 0 2px 0 #cfd1d3;
}

.emojiErea {
  margin: 50px;
  width: 80%;
}
