body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Input.jsのCSS */
.senddiv {
  margin: 50px auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.sendText {
  display: flex;
}

.sendText input {
  font-size: 36px;
  width: 100%;
}

.submitButton {
  display: flex;
  flex-direction: column;
}

.submitButton button {
  /* outline: none; */
  background-color: #c6e4f8;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  margin: 3px 10px;
  box-shadow: 0 4px 1px #cfd1d3;
}

.submitButton button:hover {
  transform: translate(0, 3px);
  box-shadow: 0 2px 0 #cfd1d3;
}

.emojiErea {
  margin: 50px;
  width: 80%;
}

a, button {
  cursor: pointer;
}

.emojiErea a {
  /* width: 50px;
  height: 50px; */

  display: inline-block;
  text-decoration: none;
  color: rgba(152, 152, 152, 0.43);/*アイコン色*/
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#e8e8e8 0%, #d6d6d6 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
  box-shadow: inset 0 2px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: solid 2px #b5b5b5;
}

.emojiErea img {
  line-height: 80px;

}

.emojiErea a:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;

}
