
.sample02 {
    /* margin : 0 auto 40px;
    width : 100%;
    font-size : 24px;
    text-align : center;
    overflow : hidden; */

    display: block;
	width: 79vw;
	height: 30px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 10vw;
	right: 10vw;
	bottom: 200px;
	background-color: lightblue;
	overflow : hidden;
}
.sample02 ul{
    margin:0;
    display : inline-block;
    padding-left: 100%;
    white-space : nowrap;
    line-height : 1em;
    animation : scrollSample02 15s linear infinite;
}
.sample02 ul li{
    display:inline;
    margin:0 100px 0 0;
}
.sample02 ul li:nth-child(1){
    font-weight:bold;
}
.sample02 ul li:nth-child(2){
    color:#F00;
}
.sample02 ul li:nth-child(3){
    font-style:italic;
}
.sample02 ul li:last-child{
    color:#F90;
    margin:0;
}
@keyframes scrollSample02{
    0% { transform: translateX(0)}
    100% { transform: translateX(-100%)}
}

/* 2行目 */
.comment2{
	display: block;
	width: 79vw;
	height: 30px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 10vw;
	right: 10vw;
	bottom: 100px;
	background-color: beige;
	overflow : hidden;
}
.comment2 p {
	margin:0;
	padding-left:79vw; /*アニメーションの範囲*/
	display:inline-block; 
	white-space:nowrap;
	animation-name:marquee; /*アニメーションのクラス名*/
	animation-timing-function:linear;/*アニメーションのタイミング・進行割合の指定*/
	animation-duration:10s; /*アニメーションの速度*/
	animation-iteration-count:infinite;/*アニメーションの動作回数*/
}
@keyframes marquee {/*動作範囲(上級者向けの設定)*/
  from   { transform: translate(0%);} 
  99%,to { transform: translate(-100%);}
}
