#comment {
	display: block;
	width: 79vw;
	height: 30px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 10vw;
	right: 10vw;
	bottom: 10px;
	background-color: white;
}

body {
	margin: 0;
	padding: 0;
}

p {
	padding: 10px;
}

.balloon {
	width: 3vw;
	height: 4vw;
	fill: #60b99a;
	animation: 3.5s Roll ease-in-out infinite;
}
.balloon span {
	display: block;
	animation: FloatHorizontal 7s ease-in-out infinite alternate;
}
.balloon svg {
	animation: FloatVertical 6s ease-in-out infinite alternate;
}
@keyframes Roll {
	0% {
		transform: rotateZ(15deg) scale(0.9);
	}
	50% {
		transform: rotateZ(-15deg) scale(1);
	}
	100% {
		transform: rotateZ(15deg) scale(0.9);
	}
}
@keyframes FloatHorizontal {
	0% {
		transform: translate3d(2.5vw, 0, 0);
	}
	50% {
		transform: translate3d(-2.5vw, 0, 0);
	}
	100% {
		transform: translate3d(2.5vw, 0, 0);
	}
}
@keyframes FloatVertical {
	0% {
		transform: translate3d(0, 2.5vw, 0);
	}
	50% {
		transform: translate3d(0, -2.5vw, 0);
	}
	100% {
		transform: translate3d(0, 2.5vw, 0);
	}
}
