/* #comment {
	display: block;
	width: 79vw;
	height: 30px;
	border: none;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 10vw;
	right: 10vw;
	bottom: 10px;
	background-color: white;
} */
#button1 {
	position: absolute;
	right: 10px;
	bottom: 50px;
}

body {
	margin: 0;
	padding: 0;
}

p {
	padding: 10px;
}

.balloon {
	position: absolute;
	width: 3vw;
	height: 4vw;
	fill: #60b99a;
	animation: 3.5s Roll ease-in-out forwards;
}
.balloon:nth-child(2n) {
	animation: Roll 2.5s ease-in-out forwards;
}
.balloon:nth-child(3n) {
	animation: Roll 5s ease-in-out forwards;
}
.balloon span {
	display: block;
	animation: FloatHorizontal 5s ease-in-out forwards;
}
.balloon svg {
	animation: FloatVertical 5s ease-in-out forwards;
}
@keyframes Roll {
	0% {
		transform: rotateZ(15deg) scale(0.9);
		opacity: 0.5;
	}
	50% {
		transform: rotateZ(-15deg) scale(1);
		opacity: 1;
	}
	100% {
		transform: rotateZ(15deg) scale(0.9);
		opacity: 0;
	}
}
@keyframes FloatHorizontal {
	0% {
		transform: translate3d(10vw, 0, 0);
	}
	50% {
		transform: translate3d(0vw, 0, 0);
	}
	100% {
		transform: translate3d(-10vw, 0, 0);
	}
}
@keyframes FloatVertical {
	0% {
		transform: translate3d(0, 60vw, 0);
	}
	70% {
		transform: translate3d(0, -2.5vw, 0);
	}
	100% {
		transform: translate3d(0, -10vw, 0);
	}
}
